#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(199, 241, 224);
  display: flex !important;
  flex-direction: column;
}

h2 {
  font-weight: 200;
  padding: 5px;
}

label {
  font-weight: 200;
  padding: 8px;   
}

input {
  margin: 8px !important;
  font-weight: 200;
}

button {
  margin: 10px !important;
  border: solid rgb(0, 0, 0) 1px;
}

body {
  background-image: url("https://images3.alphacoders.com/688/thumb-1920-688902.jpg");
  background-size: cover;
}

.formContainer {
  align-content:flex-start !important;
  height: 50% !important;
}